@{
    ViewBag.Title = "产品列表";
}
@section scripts{
     
    <script type="text/javascript" src="/webshop/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="/webshop/js/fliplightbox.min.js"></script>
<script type="text/javascript">$('body').flipLightBox()</script>
	<script type="text/javascript">
	    $(function () {
	        var filterList = {
	            init: function () {
	                $('#portfoliolist').mixitup({
	                    targetSelector: '.portfolio',
	                    filterSelector: '.filter',
	                    effects: ['fade'],
	                    easing: 'snap',
	                    onMixEnd: filterList.hoverEffect()
	                });
	            },

	            hoverEffect: function () {
	                $('#portfoliolist .portfolio').hover(
                        function () {
                            $(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad');
                            $(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad');
                        },
                        function () {
                            $(this).find('.label').stop().animate({ bottom: -40 }, 200, 'easeInQuad');
                            $(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad');
                        }
                    );
	            }
	        };
	        filterList.init();
	    });
	</script>
	
}
<div class="main_bg">
<div class="wrap">	
	<div class="main">
	<!-- start gallery_sale  -->
			<div class="gallery1">
					<div class="container">
					<ul id="filters" class="clearfix">
						<li><span class="filter active" data-filter="app card icon logo web">全部</span></li>
						<li><span class="filter" data-filter="app card web">男士</span></li>
						<li><span class="filter" data-filter="icon web card">女士</span></li> 
					</ul>
			<div id="portfoliolist">
			<div class="portfolio logo1 mix_all" data-cat="logo" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">				
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic1.jpg" alt="Image 2" style="top: 0px;">
					</a>
					<div class="label" style="bottom: -40px;">
						<div class="label-text">
							<a class="text-title">ethnic fashion guide: sarees</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>				
			<div class="portfolio app mix_all" data-cat="app" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">			
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic2.jpg" alt="Image 2">
					</a>
					<div class="label">
						<div class="label-text">
							<a class="text-title">fasttrack: watches</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>		
			<div class="portfolio web mix_all" data-cat="web" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">						
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic3.jpg" alt="Image 2">
					</a>
					<div class="label">
						<div class="label-text">
							<a class="text-title">ethnic fashion guide: dresses</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>				
			<div class="portfolio card mix_all" data-cat="card" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">			
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic4.jpg" alt="Image 2">
					</a>
					<div class="label">
						<div class="label-text">
							<a class="text-title">ethnic fashion guide: tees</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>	
			<div class="portfolio app mix_all" data-cat="app" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic5.jpg" alt="Image 2" style="top: 0px;">
					</a>
					<div class="label" style="bottom: -40px;">
						<div class="label-text">
							<a class="text-title">ethnic fashion guide: tees</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>			
			<div class="portfolio card mix_all" data-cat="card" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">			
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic6.jpg" alt="Image 2">
					</a>
					<div class="label">
						<div class="label-text">
							<a class="text-title">fasttrack: watches</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>	
			<div class="portfolio web mix_all" data-cat="web" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">						
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic7.jpg" alt="Image 2">
					</a>
					<div class="label">
						<div class="label-text">
							<a class="text-title">Sonor's Design</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>				
			<div class="portfolio card mix_all" data-cat="card" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">			
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic8.jpg" alt="Image 2">
					</a>
					<div class="label">
						<div class="label-text">
							<a class="text-title">Typography Company</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>	
			<div class="portfolio app mix_all" data-cat="app" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic9.jpg" alt="Image 2">
					</a>
					<div class="label">
						<div class="label-text">
							<a class="text-title">Weatherette</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>			
			<div class="portfolio card mix_all" data-cat="card" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">			
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic10.jpg" alt="Image 2">
					</a>
					<div class="label">
						<div class="label-text">
							<a class="text-title">BMF</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>	
					
			<div class="portfolio card mix_all" data-cat="card" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">			
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic11.jpg" alt="Image 2">
					</a>
					<div class="label">
						<div class="label-text">
							<a class="text-title">Techlion</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>	
			
			<div class="portfolio logo1 mix_all" data-cat="logo" style="display: inline-block;  opacity: 1;">
				<div class="portfolio-wrapper">			
					<a href="/product/detail">
						<img src="/webshop/images/sale_pic12.jpg" alt="Image 2">
					</a>
					<div class="label">
						<div class="label-text">
							<a class="text-title">KittyPic</a>
							<span class="text-category">indulge</span>
						</div>
						<div class="label-bg"></div>
					</div>
				</div>
			</div>																																							
		</div>
	</div> 
	<div class="clear"> </div>
	</div>
<!---End-gallery----->
	</div>
</div>
</div>
<div id="flb-lightbox" style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 1000; box-sizing: content-box; display: none;">
    <div id="flb-lightbox-background" style="width: 100%; height: 100%; background-color: #000; opacity: 0.8; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;"></div>
    <div id="flb-lightbox-content" style="position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background: none; text-align: center; box-sizing: content-box; display: none;"></div>
    <div id="flb-load" style="position: fixed; top: 40%; left: 0px; width: 100%; text-align: center; font-size: 14px; color: #fff; opacity: 0.3; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;"></div>
    <div id="flb-lightbox-text" style="position: fixed; bottom: 0px; width: 90%; padding: 15px 6% 15px 5%; margin-right: auto; margin-left: auto; background-color: rgb(255, 255, 255); opacity: 0.8; font-size: 14px; line-height: 1.4; color: rgb(0, 0, 0); text-align: center; box-sizing: content-box; display: none;"></div>
    <div id="flb-load2" style="position: fixed; top: 40%; left: 0px; width: 100%; text-align: center; font-size: 14px; color: #fff; opacity: 0.3;"></div>
</div>
