@{
    ViewBag.Title = "服务";
}

<div class="main_bg">
<div class="wrap">	
	<div class="main">
	<!-- start service -->
	  <div class="service">
		<div class="ser-main">
			<h4>Our Services</h4>
			<p class="para">口袋购是河南省新型的网购零售平台，目前拥有近3000的注册用户数。截止2016年年底，口袋购单日交易额峰值达到1千万元，创造270.8万直接 且充分就业机会。随着口袋购规模的扩大和用户数量的增加，口袋也从单一的C2C网络集市变成了包括C2C、团购、分销、拍卖等多种电子商务模式在内的综合性零售商圈。目前已经成为全国范围的电子商务交易平台之一。
口袋购致力于推动“货真价实、物美价廉、按需定制”网货的普及，帮助更多的消费者享用海量且丰富的网货，获得更高的生活品质；通过提供网络销售平台等基础性服务，帮助更多的企业开拓市场、建立品牌，实现产业升级；帮助更多胸怀梦想的人通过网络 实现创业就业。新商业文明下的口袋购，正走在创造1000万就业岗位这下一个目标的路上。</p>
			<div class="ser-grid">
				<div class="ser-grid-list">
					<img src="/webshop/images/icon1.png" alt="">
					<h5><a href="javascript:void(0);">24/7客户支持</a></h5>
					<p class="para">It is a long established fact that a reader will be distracted by the page when looking at its layout.</p>
				</div>
				<div class="ser-grid-list">
					<img src="/webshop/images/icon2.png" alt="">
					<h5><a href="javascript:void(0);">100％保证</a></h5>
					<p class="para"> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				</div>
				<div class="ser-grid-list">
					<img src="/webshop/images/icon3.png" alt="">
					<h5><a href="javascript:void(0);">安全派遣</a></h5>
					<p class="para">It is a long established fact that a reader will be distracted by the page when looking at its layout.</p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="ser-grid">
				<div class="ser-grid-list">
					<img src="/webshop/images/icon4.png" style="color: #4CCFC1;" alt="">
					<h5><a href="javascript:void(0);">用户代理</a></h5>
					<p class="para">It is a long established fact that a reader will be distracted by the page when looking at its layout.</p>
				</div>
				<div class="ser-grid-list">
					<img src="/webshop/images/icon5.png" alt="">
					<h5><a href="javascript:void(0);">正宗产品</a></h5>
					<p class="para"> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
				</div>
				<div class="ser-grid-list">
					<img src="/webshop/images/icon6.png" alt="">
					<h5><a href="javascript:void(0);">100% 信息安全</a></h5>
					<p class="para">It is a long established fact that a reader will be distracted by the page when looking at its layout.</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="left_sidebar">
					<div class="sellers">
						<h4>Best Sellers</h4>
						<div class="single-nav">
			                <ul>
			                   <li><a href="#">Always free from repetition</a></li>
			                    <li><a href="#">Always free from repetition</a></li>
			                    <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
			                    <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
			                    <li><a href="#">Always free from repetition</a></li>
			                    <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
			                    <li><a href="#">Always free from repetition</a></li>
			                    <li><a href="#">Always free from repetition</a></li>
			                    <li><a href="#">Always free from repetition</a></li>
			                    <li><a href="#">The standard chunk of Lorem Ipsum</a></li>
			                    <li><a href="#">Always free from repetition</a></li>
			                    <li><a href="#">Always free from repetition</a></li>
			                    <li><a href="#">Always free from repetition</a></li>			                    
			                </ul>
			              </div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
	</div>
</div>
</div>	
