#footer{ margin-top:0px;}
#member{ background:#fff;min-height: 600px; }
#memberL{ background:#FFF; width:250px; float:left; padding:5px;}
#memberR{background:#FFF; width:805px;padding: 15px 15px 50px 15px;margin-top:5px; float:right;border: solid 1px #ccc;}

#memberL h2{ font-size:16px; color:#000; height:35px; line-height:35px;}
#memberNav li a{padding-left:25px; position:relative; display:block; height:25px; line-height:25px;}
#memberL #memberNav s{ position:absolute; left:10px; top:0; font-family:"宋体";}

#memberNav li a:hover,#memberNav li a.hot{ color:#4CCFC1; font-weight:bold;}

/*菜单项*/
#conter{width:1000px;margin:0 auto}
#conter #help-left{width: 250px; height: 500px; border: solid 1px #ccc; background: #f5f5f5;font-family:'microsoft YaHei';float: left;border-top: solid 3px #4CCFC1;}
#uinfobox #imgbox{ margin: 30px 0 40px 18px;float: left;border: solid 2px #4CCFC1;width: 64px;height:64px;padding: 3px;background: #fff;}
#imgbox img{ width: 64px;height:64px;border-radius: 2px;}
#uinfobox #infobox{ margin: 30px 0 40px 10px;float: left;}
/*#conter .menu{border-left:1px solid #ccc;border-right:1px solid #ccc}*/
/*#conter .menu:last-child{border-bottom:1px solid #ccc}*/
#conter .menu summary{height:38px;line-height:38px;text-indent:10px;outline:0;font-size:16px;font-weight:700; 
                      background:url('../images/baseimg/fw.png');color: #3CC395;
                      /*background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#FEFEFE),color-stop(1,#CCC));突起效果*/
                      cursor:pointer}
#conter .menu summary::-webkit-details-marker{display:none}
#conter .menu summary:before{content:"+";display:inline-block;width:16px;height:16px;margin-right:10px;font-size:18px;font-weight:700}
#conter .menu[open] summary:before{content:"-"}
#conter .menu ul{padding:10px 0}
#conter .menu ul li{list-style:none;text-indent:25px;font-size:12px;height:30px;line-height:30px}
#conter .menu ul li a{display:block;color: #000;margin-left: 14px;}
#conter .menu ul li a:hover{color:#4CCFC1;}

#memberRT{ font-size:15px; /*position:relative; height:35px; line-height:35px; padding-bottom:10px;*/}
#memberRT a{ font-size:12px; font-weight:normal; color:#4CCFC1;}
#memberRT a:hover{text-decoration:underline;}
#memberRT .searchList{ position:absolute; right:0; top:0;}
#memberRT .searchList select{ float:left; margin-top:3px; margin-right:10px;}
#memberRT .searchList .text{ padding:3px 5px; width:195px;float:left; margin-right:5px;}
#memberRT .searchList .whiteBT{ font-size:13px; float:left; display:block; height:20px; line-height:20px; font-weight:normal;}
#memberRT .searchList .whiteBT:hover{ border:1px solid #999; color:#333;}
.bigBox{ width:100%; text-align:center;}
.box{ width:1100px; margin:0 auto; text-align:left;}
.dingdan{border-collapse: collapse;}
.dingdan th{background: #e7e7e7;height: 32px;line-height: 32px;padding: 0 5px;text-align: center;font-weight: 400;}
.dingdan td{ vertical-align: top;padding-top: 10px;border: 1px solid #f2f2f2;padding: 10px 5px;text-align:center; color:#333;}
.dingdanTH td{background: #f5f5f5;line-height: 18px;color: #333;padding:8px 5px; text-align:left;}
.dingdan .proList img{ float:left; border:1px solid #ddd; margin-right:10px;}
.dingdan a{ color:#4CCFC1;}
.dingdan .proList a{ color:#666;}
.dingdan .proList a:hover{ text-decoration:underline;}
.dingdan .star{ position:static;}
#orderProductList{ width:250px;}
#orderProductList a{float:left; display:block; margin-bottom:5px;}
.hide{ display:none;}
.edit{position:relative;}
.clear{ clear:both;}
.left{ float:left;}
.right{ float:right;}
.bold{ font-weight: bold;}
.cblock{ color: #000;}
.font10{ font-size: 10px;}

.pLeft10{ padding-left: 10px;}
.pLeft20{ padding-left: 20px;}
.pRight10{ padding-right: 10px;}
.pRight20{ padding-right: 20px;}
.mLeft10{ margin-left:  10px;}
.mLeft20{margin-left: 20px;} 
.mRight10{ margin-right: 10px;}
.mRight20{ margin-right: 20px;}.mRight15{ margin-right: 15px;}
.mRight40{ margin-right: 40px;}

.greenBT{padding: 1px 10px;background: #4CCFC1;color: #FFF !important;border: 1px solid #4CCFC1;}
.greenBT:hover{background: #3CC395;}
/*表格样式*/
.table-list { width: 100%; border-spacing: 0px;}

.table-list .tr-header{ height:35px; text-align:center; }
.table-list .tr-header td{ height:35px; border-bottom:solid 2px #eee; font-size:13px; color:#999; padding:0 5px;}

.table-list tr{ height:35px; cursor:pointer; }
.table-list tr:hover { background-color: #f6f6f6; }
.table-list tr td{ padding:5px; line-height:35px; border-bottom:solid 1px #eee; max-width:500px; color:#333; 
                                     white-space:nowrap; overflow: hidden; text-overflow:ellipsis;  }

.table-list td a{ color:#4CCFC1;  vertical-align:middle;}
.table-list td a:hover{ color:#3CC395; text-decoration:underline; }

.table-list td img{ height:80px; width:80px; vertical-align:middle;}

/*排序*/
.table-list .tr-header .td-span{  position:relative; cursor:pointer;line-height:35px; }

.table-list .tr-header .td-span:hover { color:#4CCFC1; }
.table-list .tr-header .td-span.hover { color:#4CCFC1; }

.table-list .tr-header .td-span .asc { position:absolute;  top:2px; border-bottom:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}
.table-list .tr-header .td-span .desc { position:absolute; top:9px; border-top:solid 5px #ccc; border-left:solid 5px transparent ;border-right:solid 5px transparent ; display:inline-block;}

.table-list .tr-header .td-span .asc.hover {  border-bottom:solid 5px #4CCFC1;}
.table-list .tr-header .td-span .desc.hover { border-top:solid 5px #4CCFC1;}

.table-list .ico-check { vertical-align:middle; }
.table-list .ico-checked { vertical-align:middle; }

/*批量操作*/
.batch-operate { padding-left:5px; height:20px; line-height:20px; }
.batch-operate li{ float:left;}

/*表格样式-rpt*/
.table-list-rpt { width:100%; border-top:solid 1px #ccc;border-left:solid 1px #ccc; border-collapse:collapse;border-spacing:0;}
.table-list-rpt tr{ height:25px; line-height:25px;  background-color: #fff;}
.table-list-rpt tr:hover { background-color: #eee; }
.table-list-rpt td{ border-bottom:solid 1px #ccc;border-right:solid 1px #ccc; padding:5px 10px; vertical-align:middle;  }
.table-list-rpt a{ color:#333;  vertical-align:middle;}
.table-list-rpt a:hover{ color:#3CC395; text-decoration:underline; }
.table-list-rpt .tr-header{ text-align:center;font-weight:bold; height:35px; }
.table-list-rpt .tr-header td{ background-color:#eee; color:#2a3441;}


/*订单详细*/
.DDstatus{height: 25px;background: #FFFCEB;line-height: 25px;border: 1px solid #EED97C; font-size:14px; padding:5px 10px; color:#000; margin-bottom:20px;}

#DDcon{background: #FFF;border: 1px solid #EED97C; }
#DDcon ul{ background:#FFFCEB;border-bottom: 1px solid #EED97C; height:35px;}
#DDcon ul li{float:left; position:relative; margin-bottom:-1px;}
#DDcon ul li a{  height:25px; line-height:25px;border-right:1px solid #EED97C; padding:5px 15px;_float:left; display:block;border-bottom: 1px solid #EED97C; font-size:14px; font-weight:bold;}
#DDcon ul li a:hover{ color:#000;}
#DDcon ul li a.hot{ background:#FFF;border-bottom: 1px solid #FFF; color:#000;}

.ddgzTable thead th{ border-bottom:1px solid #ddd;}
.ddgzTable td{ padding:5px 0;}


#DDinfo{ margin-top:20px;border: 1px solid #DADADA;padding: 0 5px 10px;background: #EDEDED;}
#DDinfo h2{ height:30px; line-height:30px; font-size:14px; padding-left:10px;}
#DDinfoCon{ background:#FFF; padding:10px;}

#DDinfoCon dl{ padding:10px 0; display:block;  border-bottom:1px solid #DDD;}
#DDinfoCon dl dt{ color:#000; font-weight:bold; height:20px; line-height:20px;}
#DDinfoCon dl dd{line-height:20px;}
#DDinfoCon a{ color:#4CCFC1;}

.DDsum{ font-size:14px; padding:15px 20px; color:#333; width:250px;}
.DDsum p{ height:25px;}
.DDsum span{ float:right; width:150px;text-align:right; }
.DDsum i{ float:right;}
.DDsum b{ font-size:16px; display:block;padding:10px 0 0 0;text-align:right;}
.DDsum b em{ color:#3CC395; font-size:24px; font-family:Arial, Helvetica, sans-serif}


.favT{ background:url(/images/bgW.jpg) repeat-x bottom #FFF; height:34px; line-height:34px; position:relative; padding:0 15px; border:1px solid #ddd;}
.favT input{ vertical-align:-2px; }
.favTpage{ position:absolute; right:15px; top:0px; color:#000;}

.memberStar .star{ position:static; float:left;}
html body .proList .memberStar a{ float:left;color:#4CCFC1;}


.tb-void{line-height:18px;text-align:center;border:1px solid #f2f2f2;border-top:0;color:#333;width:100%; border-collapse:collapse;}
.tb-void td{border:1px solid #f2f2f2;padding:10px 5px}
.tb-void th{background:#f5f5f5;height:32px;line-height:32px;padding:0 5px;text-align:center;font-weight:400}
.tb-void a{color:#4CCFC1}

.SHtitle{ padding:10px 0;}
.SHtitle .greenBT{ font-size:14px; font-weight:bold; padding:3px 20px;}

.SHtitle b{ color:#71b247;}


.SHadress{ border:2px solid #ddd; padding:15px; margin:10px 0;}
.SHadress:hover{ border:2px solid #ccc;}
.SHadress h4{ font-size:14px; position:relative; color:#333;}
.SHedit{ position:absolute; right:0; top:0}
.SHedit a{ font-size:12px; font-weight:normal;}
.SHadress ul{ padding-top:10px;}
.SHadress ul li{ line-height:22px;}
.SHadress ul li b{ float:left; display:block; width:70px; text-align:right; font-weight:normal; color:#999;}
.SHadress ul li em{ float:left; width:600px;}
.SHtable td{ padding:5px 0;}
.SHtable td .text{ height:20px; line-height:20px; padding:5px; border:1px solid #ddd; width:500px;}
.SHtable td select{ padding:5px; margin-right:5px; border:1px solid #ddd;}


.SHtable th{ color:#999; text-align:left; font-weight:normal; font-size:14px;}
.SHtable th em{ color:#3CC395;}

.SHtable{background: #FFF;border:2px solid #bfd6af; padding:15px;}
 
.memberTable th{text-align: center;  font-size:12px;line-height: 30px;}
.memberTable td{padding: 5px 0;text-align: left; }
.memberTable td .tip{ padding-left:10px;}
.memberTable td .text{ height:20px; line-height:20px; padding:5px; border:1px solid #ddd; width:500px;}
.memberTable td select{ padding:5px; margin-right:5px; border:1px solid #ddd;}
.memberTable  .radio input,.memberTable  .checkbox input{ vertical-align:-2px;margin-right:5px;}
.memberTable  .radio,.memberTable  .checkbox{ padding-right:10px;}

.memberTable a{ color:#4CCFC1;}
.succ_ok{ background:url(/images/succ-ok.png) no-repeat right center;}
.succ_error{ background:url(/images/succ-error.png) no-repeat right center;}
 
.memberTable th em{ color:#3CC395;}



.memberTableBorder th{text-align: center;  border-left:1px solid #ddd; font-size:12px;line-height: 30px;background: #eee;color: #000;}
.memberTableBorder th:first-child{ border: none;}
.memberTableBorder td{text-align: left;border-left:1px solid #ddd; }
.memberTableBorder td .tip{ padding-left:10px;}
.memberTableBorder td .text{ height:20px; line-height:20px; padding:5px; border:1px solid #ddd; width:500px;}
.memberTableBorder td select{ padding:5px; margin-right:5px; border:1px solid #ddd;}
.memberTableBorder  .radio input,.memberTable  .checkbox input{ vertical-align:-2px;margin-right:5px;}
.memberTableBorder  .radio,.memberTable  .checkbox{ padding-right:10px;}

#reviewProductBlock .star{ float:left;}

.safe { border-bottom:1px solid #ddd; position:relative; margin-bottom:20px; padding-bottom:10px;}
.safe s{background:url(/images/succ-ico.png) no-repeat;width: 32px;height: 33px; display:block; float:left; margin:0 15px;}
.safe b{ display:block; float:left; width:110px; height:26px; font-size:18px; margin-top:5px; border-right:1px solid #ddd;}
.safe p{ padding-left:20px; float:left; line-height:40px;}
.safe .greenBT{ position:absolute; right:0px; padding:0px 10px; top:10px; width:50px; text-align:center;background: #4CCFC1;color: #fff;}
.safe .greenBT:hover{ background: #3CC395;color: #fff; }
.safe .ico1{ background-position: -64px 0;}
.safe .ico2{ background-position: 0 0;}
.safeInfo h2{ height:25px; line-height:25px; padding-bottom:10px; font-size:14px;}
.safeInfo a{ color:#3CC395;}

.step{ margin:20px 0 15px 150px;}
.step li{ position:relative; border-top:5px solid #cccccc; width:160px; text-align:center; height:40px; line-height:40px; float:left;}
.step li s{ width:20px; height:20px; background:#CCC; position:absolute; top:-13px; left:50%; margin-left:-10px; font-weight:bold; color:#FFF; line-height:20px;}
.step li.hot{ border-top:5px solid #4CCFC1; color:#4CCFC1;}
.step li.hot s{ background:#4CCFC1;}

.safeYZ{ padding-left:90px; padding-bottom:60px;}
.safeYZ table td .text{ width:100%;}

.safeSuccessTip{ color:#4CCFC1; font-size:24px;  margin-left:200px;}
